---
import { Icon } from "astro-icon/components";
const logos = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/logos/*.{jpeg,jpg,png,svg}"
);
---

<footer class="lg:fixed lg:bottom-10 lg:left-2">
  <ul class="flex lg:flex-col p-10 gap-5 lg:p-0 lg:gap-2">
    <li>
      <a href="mailto:hauman.jeppe@gmail.com"
        ><Icon
          width={30}
          height={30}
          name={"mail"}
          class="hover:text-black text-white transition-all"
        /></a
      >
    </li>
    <li>
      <a href="https://github.com/JeppeHauman"
        ><Icon
          width={30}
          height={30}
          name={"github"}
          class="hover:text-black text-white transition-all"
        /></a
      >
    </li>

    <li>
      <a href="https://www.linkedin.com/in/jeppehauman/"
        ><Icon
          width={30}
          height={30}
          name={"linkedin"}
          class="hover:text-black text-white transition-all"
        /></a
      >
    </li>
    <li>
      <a href="https://twitter.com/JeppeHauman"
        ><Icon
          width={30}
          height={30}
          name={"twitter"}
          class="hover:text-black text-white transition-all"
        /></a
      >
    </li>
  </ul>
</footer>

<style>
  [data-icon]:hover {
    color: black;
  }
</style>
